<nav>
  <div class="container">
    <div class="row">
      <div class="logos">
        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
          <a href="<%= root_url %>">
            <%= image_tag('logos/lw3andakdam', class: 'img-responsive') %>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
          <a href="http://desktop.bey2ollak.com/" target="_blank">
            <%= image_tag('logos/bey2olak', class: 'img-responsive') %>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-8 text-right">
        <%= image_tag('icons/menu_icon') %>
      </div>
    </div>
  </div>
</nav>
