<div class="buttons">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-4">
        <%= link_to "I NEED BLOOD", new_case_url, class: 'btn' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <%= link_to "I'M A DONOR", new_doner_url, class: 'btn' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>Donate Blood. Save Lives</p>
      </div>
    </div>
  </div>
</div>
